---
layout: home-grid
title: "People in our group"
permalink: "/people/"
---

<div class="posts clearfix">
  {% for pg in site.pages %}
  {% if pg.categories contains "people"  %}

    {% if pg.website contains  'http' %}
      {% assign ws =  pg.website %}
    {% else %}
      {% capture ws %}http://cse.chalmers.se/~{{ pg.cid }}{% endcapture %}
    {% endif %}

    {% if pg.email contains  '@' %}
      {% assign em =  pg.email %}
    {% else %}
      {% capture em %}{{ pg.cid }}@chalmers.se{% endcapture %}
    {% endif %}

    <article class="post">

      <div class="entry">
        <img src="{{ site.urlimg }}/people/{{ pg.pic }}" width="970" itemprop="image">
      </div>
      <a  class="small-link primary-link"  href="{{ ws }}">{{ pg.fname }} {{ pg.lname }}</a>

    </p>{{ em }}</p>

    <p class="text-left">
      <!-- <a href="{{ ws }}"><img  src="{{ site.url }}{{ site.baseurl }}/assets/icons/icon-website.svg" width="50" height="50"></a> -->
      {% if pg.github %}<a href="{{ pg.github }}"><img  src="{{ site.url }}{{ site.baseurl }}/assets/icons/icon-github.svg" width="50" height="50"></a>{% endif %}
      {% if pg.linkedin %}<a href="{{ pg.linkedin }}"><img  src="{{ site.url }}{{ site.baseurl }}/assets/icons/icon-linkedin.svg" width="50" height="50"></a>{% endif %}
      {% if pg.researchgate %}<a href="{{ pg.researchgate }}"><img  src="{{ site.url }}{{ site.baseurl }}/assets/icons/icon-researchgate.png" width="50" height="50"></a>{% endif %}
      {% if pg.googlescholar %}<a href="{{ pg.googlescholar }}"><img  src="{{ site.url }}{{ site.baseurl }}/assets/icons/icon-googlescholar.png" width="50" height="50"></a>{% endif %}
    </p>

    </article>
  {% endif %}
  {% endfor %}
</div>
