---
layout: page
title: "CSG projects"
teaser: "List of projects"
breadcrumb: true
header:

permalink: "/projects/"
---

<h2>Ongoing Projects</h2>
<div itemprop="name">
<ul class="side-nav">
  <dl class="accordion" data-accordion>
  {% assign counter = 1 %}

  {% for pg in site.pages %}
     {% if pg.tags contains "active" %}
        {% assign counter=counter | plus:1 %}
        <dd class="accordion-navigation">
        <a href="#panel{{ counter }}"><span class="iconfont"></span> <strong>{{ pg.title }}</strong></a>
          <div id="panel{{ counter }}" class="content">
            {{ pg.teaser | strip_html | escape }}
            <a href="{{ site.url }}{{ site.baseurl }}/{{ pg.url }}" title="Read {{ pg.title escape_once }}"><strong>{{ site.data.language.read_more }}</strong></a><br><br>
          </div>
        </dd>
     {% endif %}
  {% endfor %}
  </dl>

</ul>

<h2>Concluded Projects</h2>
<ul class="side-nav">
  <dl class="accordion" data-accordion>
  {% assign counter = 1 %}

  {% for pag in site.pages %}
   	{% if pag.tags contains "former-member" %}
        {% assign counter=counter | plus:1 %}
        <dd class="accordion-navigation">
        <a href="#panel{{ counter }}"><span class="iconfont"></span> <strong>{{ pag.title }}</strong></a>
          <div id="panel{{ counter }}" class="content">
            {{ pag.teaser | strip_html | escape }}
            <a href="{{ site.url }}{{ site.baseurl }}/{{ pg.url }}" title="Read {{ pg.title escape_once }}"><strong>{{ site.data.language.read_more }}</strong></a><br><br>
          </div>
        </dd>
	{% endif %}
{% endfor %}
  </dl>

</ul>
</div>
