---
layout: page
title: "People in our security group"
teaser: "Find the one you are looking for"
breadcrumb: true
header:
   image_fullwidth: header_unsplash_8.jpg
permalink: "/people/"
---
<div itemprop="name">
<ul class="side-nav">
  <dl class="accordion" data-accordion>
  {% assign counter = 1 %}

  {% for pg in site.pages %}
     {% if pg.tags contains "phd" or pg.tags contains "postdoc" or pg.tags contains "professor"  %}
        {% assign counter=counter | plus:1 %}
        <dd class="accordion-navigation">
        <a href="#panel{{ counter }}"><span class="iconfont"></span> <strong>{{ pg.title }}</strong></a>
          <div id="panel{{ counter }}" class="content">
            {{ pg.teaser | strip_html | escape }}
            <a href="{{ site.url }}{{ site.baseurl }}/{{ pg.url }}" title="Read {{ pg.title escape_once }}"><strong>{{ site.data.language.read_more }}</strong></a><br><br>
          </div>
        </dd>
     {% endif %}
  {% endfor %}
  </dl>

</ul>

<h2>Former People in our Group</h2>
<ul class="side-nav">
  <dl class="accordion" data-accordion>
  {% assign counter = 1 %}

  {% for pg in site.pages %}
     {% if pg.tags contains "former-member" %}
        {% assign counter=counter | plus:1 %}
        <dd class="accordion-navigation">
        <a href="#panel{{ counter }}"><span class="iconfont"></span> <strong>{{ pg.title }}</strong></a>
          <div id="panel{{ counter }}" class="content">
            {{ pg.teaser | strip_html | escape }}
            <a href="{{ site.url }}{{ site.baseurl }}/{{ pg.url }}" title="Read {{ pg.title escape_once }}"><strong>{{ site.data.language.read_more }}</strong></a><br><br>
          </div>
        </dd>
     {% endif %}
  {% endfor %}
  </dl>

</ul>

</div>