---
layout: default
format: frontpage
---
<div id="header-home">
    <div class="row">
        <div class="small-12 columns">
        </div><!-- /.medium-4.columns -->
    </div><!-- /.row -->
</div><!-- /#header-home -->



{% comment %}
*
* First check, if there is a call for action-button
*
{% endcomment %}
{% if page.callforaction.url contains 'http' %}
{% assign url = '' %}
{% else %}
{% assign url = site.url %}
{% endif %}
{% if page.callforaction %}
    <div class="row t60 b60">
        <div class="small-12 text-center columns">
            <a class="button large radius {{ page.callforaction.style }}" href="{{ url }}{{ site.baseurl }}{{ page.callforaction.url }}"{% if page.callforaction.url contains 'http' %} target="_blank" {% endif %}>{{ page.callforaction.text }}</a>
        </div><!-- /.small-12.columns -->
    </div><!-- /.row -->
{% endif %}



{% comment %}
*
* First check, if there are any posts at all
*
{% endcomment %}

<!-- {% unless site.posts == empty %}
    <div class="row t30 b20 homepage">
        <div class="small-12 columns">
            {% for post in site.posts limit:1 %}
            {% if post.image.homepage %}
            <p>
                <a href="{{ site.url }}{{ site.baseurl }}{{ post.url }}" title="{{ post.title escape_once }}"><img width="970" src="{{ site.urlimg }}{{ post.image.homepage }}" alt="{{ page.title escape_once }}"></a>
            </p>

            {% if post.image.caption_url && post.image.caption %}
            <p class="text-right caption">
                <a href="{{ post.image.caption_url }}">{{ post.image.caption }}</a>
            </p>
            {% endif %}
            {% else post.image.homepage == NULL %}
            <h2>{{ site.data.language.new_blog_entries }}</h2>
            {% endif %}
            {% endfor %}
        </div>
    </div> -->


    <div class="row">
        <div class="medium-6 columns">
            {% for post in site.posts limit:1 %}
<!--            {% if post.subheadline %}<p class="subheadline">{{ post.subheadline }}</p>{% endif %} -->
            <h2><a href="{{ site.url }}{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h2>
            <p>
                {% if post.meta_description %}{{ post.meta_description | strip_html | escape }}{% else post.teaser %}{{ post.teaser | strip_html | escape }}{% endif %}
                <a href="{{ site.url }}{{ site.baseurl }}{{ post.url }}" title="Read {{ post.title escape_once }}"><strong>{{ site.data.language.read_more }}</strong></a>
            </p>
            {% endfor %}
        </div><!-- /.medium-5.columns -->


        <div class="medium-6 columns">
            <h2><strong>{{ site.data.language.news_headline }}</strong></h2>
            {% include list-posts entries='2' offset='1' %}
        </div><!-- /.medium-7.columns -->
    </div><!-- /.row -->
{% endunless %}


{% comment %}
*
* First check, if widget is empty or not by checking if there is a title
*
{% endcomment %}
<div class="row t60">

  {% assign  page.widget1.title = 'Cutting edge research' %}
  {% capture page.widget1.text %} <div class="span6">
            <p><a href="http://www.crisalis-project.eu/"> <img
                  class="logo" src="img/crisalis.png" height="60"></a> <strong><a
                  href="http://www.crisalis-project.eu/">Crisalis</a></strong>
              is an EU project on security analysis for critical
              infrastructures in collaboration with eight academic and
              industrial partners across Europe. </p>
            <p><a href="https://www.websand.eu"> <img class="logo"
                  src="img/websand.png" style="margin-top: 3px;"
                  height="45" width="200"></a> <strong><a
                  href="https://www.websand.eu">WebSand</a></strong> is an
              EU project on server-driven outbound web application
              sandboxing in collaboration with K.U. Leuven, SAP, Siemens,
              and U. Passau. </p>
            <p><a href="http://www.syssec-project.eu/"> <img class="logo"
                  src="img/syssec.png" height="45"></a> <strong><a
                  href="http://www.syssec-project.eu/">SysSec</a></strong>
              is an EU Network of Excellence on Managing Threats and
              Vulnerabilities in the Future Internet in collaboration with
              seven high-profile partners. </p>
          </div>
  {% endcapture %}
		{% include _frontpage-widget.html widget=page.widget1 %}


  {% assign  title = "Programming Language Security" %}
  {% assign  url = 'prolangsec' %}
  {% capture text %} <iframe src="https://player.vimeo.com/video/82206652" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>'
    text: 'Programming Language Security is using programming techniques to enforce security and privacy features. As an example enforcement of information-flow  policies. Conventional   security   mechanisms   such   as   access   control
  and   encryption   do   not   directly   address   the   enforcement   of
  information-flow  policies.  Recently,  a  promising  new  approach
  has  been  developed:  the  use  of  programming-language  tech-
  niques  for  specifying  and  enforcing  information-flow  policies.
  In  this  article  we  survey  the  past  three  decades  of  research  on
  information-flow security, particularly focusing on work that uses
  static program  analysis  to enforce  information-flow policies. We
  give  a  structured  view  of  recent  work  in  the  area  and  identify
  some  important open challenges.
  {% endcapture %}


		{% include _frontpage-widget.html, title=title, text= text, url=url  %}



	{% if page.widget3.title %}
		{% include _frontpage-widget.html widget=page.widget3 %}
	{% endif %}
</div><!-- /.row -->





{% comment %}
*
* Finally, if there is content, spit it out.
*
{% endcomment %}

<div class="row">
    {{ content }}
</div><!-- /.row -->
